<div class="container">
    <form [formGroup]="form">
        <div>
            <h1>Welcome {{user}}</h1>
            <h3>You have entered the following settings for the signal: {{signal}}</h3>
            <h3>Now you have to fill the specific settings of the choosen signal.</h3>
        </div>
        <ng-container *ngFor="let input of inputs">
            <app-dynamic-form-component [input]="input" [form]="form"/>
        </ng-container>
        <div class="buttons-container">
            <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
            <button mat-raised-button (click)="back()">Back</button>
            <button mat-raised-button (click)="submit()" [disabled]="!formValid" type="submit"
                color="primary">Next</button>
        </div>
    </form>
</div>